<!DOCTYPE html>
{%load static%}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link rel="stylesheet" href="{%static 'css/style.css'%}">
    </head>
    <body>
        <h1>Home Page</h1>
        <p>Welcome to the home page</p>
        <p>Check out my <a href="/about/">About </a> Page</p>
    </body>
    <footer>
        <p>Copyright© 2025 DevBlog. All rights reserved.</p>
    </footer>
    </html>
</html>