<!DOCTYPE html>
{%load static%}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                DevBlog
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{%static 'css/style.css'%}">
        <script src="{%static 'js/main.js'%}" defer> </script>
    </head>
    <body>
        <nav>
            <a href="/">🏠</a> |
            <a href="/about/">About</a> |
            <a href="/posts/">Posts</a>
            <main>
                {% block conent %}
                {% endblock %}
            </main>
        </nav>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <p>Copyright© 2025 DevBlog. All rights reserved.</p>
        </footer>
    </body>
</html>