<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        DevBlog
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
    <nav>
        <a href="/">
            <span role="img" aria-label="Home">🏠</span>
            <a href="/about/">About</a> |
            <a href="{% url 'post_list' %}">Posts</a> |
            <a href="{% url 'user:login' %}">Login</a> |
            <a href="{% url 'user:register' %}">Create Account</a> |
            <a href="{% url 'new_post' %}">New Post</a> |
            <a href ="{% url 'user:logout' %}">Logout</a>
        </a>
            <main>
                {% block conent %}
                {% endblock %}
            </main>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>Copyright© 2025 DevBlog. All rights reserved.</p>
    </footer>
</body>
</html>